<section class="plate-search column center">
  <mat-card appearance="outlined">
    <mat-card-content *ngIf="(authService.authState$ | async)?.isAuthenticated">
      <form
        (ngSubmit)="submit()" [formGroup]="form" class="column center">
        <mat-form-field appearance="outline">
          <input matInput placeholder="ABC9999" formControlName="plate" name="plate">
          <mat-icon matSuffix (click)="submit()">search</mat-icon>
        </mat-form-field>

        <button class="button-submit" color="primary"
                mat-raised-button type="submit">Pesquisar
        </button>
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="!(authService.authState$ | async)?.isAuthenticated" class="login-card column center">
      <button (click)="oktaAuth.signInWithRedirect()"
              class="button-submit" color="primary"
              mat-raised-button>Login</button>
    </mat-card-content>
  </mat-card>
</section>
