/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#cdk-overlay-0 {
  width: 90vw !important;
}

.row {
  display: flex !important;
  flex-direction: row;
}

.column {
  display: flex !important;
  flex-direction: column;
}

.center {
  display: flex !important;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.space-around {
  display: flex !important;
  justify-content: space-around;
}

.space-between {
  display: flex !important;
  justify-content: space-between;
}
